<div class="">
  <br />
  <h2>Kartike Kishore </h2>
  <h3>Developer</h3>
  <br />
  <p>The developer of this site. K-story stands for Kind stories, this platform
    is built to share some good, humble, wise and kind stories with other people
    across the Globe. Initially this site was called storyToKary, meaning
    stories that are so wonderful that people want to remember them by.
  </p>
  <p>I am waiting for your feedback. You may also tell me any scope of improvement.
      Or any type of extra feature you want.
      If possible, I will try to implement it. 
  </p>
</div>
<br /><br /><br /><br />

<h3>Feedback</h3>
<div class="row">
  <form action="/feedback" method="POST" class="col s12">

    <div class="row">
      <div class="input-field">
        <textarea id="feedbackbody" name="feedbackbody"></textarea>
      </div>
    </div>

    <div class="row">
      <input type="submit" value="Send" class="btn" />
      <a href="/dashboard" class="btn orange">Cancel</a>
    </div>
  </form>
</div>